<div class="text-center">
    <h1 class="display-4">Welcome Yakiniku ファンディング</h1>
    <p>現在の予算：@ViewBag.Yakiniku.Balance Yen</p>
    <p>
        現在の予定店舗：
        <iframe src="https://r.gnavi.co.jp/food/yakiniku/rs/?prl=@ViewBag.Yakiniku.PriceL&prh=@ViewBag.Yakiniku.PriceH&resc=1&fwc=%E7%84%BC%E8%82%89"
                style="width: 100%; height: 400px;"></iframe>
    </p>
    <p>
        <a href="/Payment/Create" class="btn btn-primary">予算アップしに行く！</a>
    </p>
    <p>
        ↓うごかないよ。
        <form action="Payment/Create" method="POST">
            <!--うごかない！-->
            <input name="amount" type="number" value="10000" />
            <button type="submit">予算アップ!</button>
        </form>
    </p>
</div>

